[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
psycopg2 = "*"
requests = "*"
pillow = "*"
sendgrid = "*"
reportlab = "*"
django-simple-buefy = "*"
django-webpack-loader = "*"
django-sass-processor = "*"
libsass = "==0.16.0"
django-compressor = "*"
pytz = "*"

[requires]
python_version = "3.7"
