{% extends 'dashboard.html' %}
{% block section %}
<!-- <section class="section is-main-section">
    <div class="card has-table has-mobile-sort-spaced">
        <header class="card-header">
            <p class="card-header-title is-centered">
                <span class="icon"><i class="mdi mdi-receipt default"></i></span>
                <span>Monthly Maintenance Charge Received Statement for the Financial Year 2019-2020</span>
            </p>
        </header>
    </div>
</section> -->
{% include 'dashboard/mcharges.html' %}
<!----------------------------------------->

{% endblock %}