{% extends 'dashboard.html' %}
{% block section %}
<section class="section is-main-section">
    <div class="card has-table has-mobile-sort-spaced">
        <header class="card-header">
            <p class="card-header-title is-centered">
                <!-- <span class="icon"><i class="mdi mdi-receipt default"></i></span> -->
                <span>Monthly Maintenance Charge Received Statement for the Financial Year 2019-2020</span>
            </p>
        </header>
        <div class="card-content">
            <div>
                <!---->
                <div class="b-table">
                    <div class="field table-mobile-sort">
                        <div class="field has-addons">
                            <div class="control is-expanded"><span class="select is-fullwidth"><select>
                                        <!---->
                                        <!---->
                                        <!---->
                                        <option value="[object Object]">
                                            Name
                                        </option>
                                        <option value="[object Object]">
                                            Mobile No.
                                        </option>
                                        <option value="[object Object]">
                                            Email Id
                                        </option>
                                        <!---->
                                        <!---->
                                    </select></span>
                                <!---->
                            </div>
                            <div class="control"><button class="button is-primary"></button></div>
                        </div>
                    </div>
                    <!---->
                    <div class="table-wrapper">
                        <table class="table is-striped has-mobile-cards is-hoverable">
                            <thead>
                                <tr>
                                    <!---->
                                    <!---->
                                    <th class="is-current-sort">
                                        <div class="th-wrap">Flat No.</div>
                                    </th>
                                    <th class="is-current-sort is-sortable">
                                        <div class="th-wrap">Flat Owner Name </div>
                                    </th>
                                    <th class="is-current-sort is-sortable">
                                        <div class="th-wrap">Mobile No. </div>
                                    </th>
                                    <th class="is-current-sort is-sortable">
                                        <div class="th-wrap">Email Id</div>
                                    </th>
                                    <th class="is-current-sort ">
                                        <div class="th-wrap">Created </div>
                                    </th>
                                    <th class="is-current-sort">
                                        <div class="th-wrap"> </div>
                                    </th>
                                    <!---->
                                </tr>
                                <!---->
                            </thead>
                            <tbody>
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                                <tr draggable="false" class="">
                                    <!---->
                                    <!---->
                                    <td class="has-no-head-mobile is-image-cell">
                                        <div class="image"><img src="/data-sources/avatars/andy-lee-642320-unsplash.jpg"
                                                class="is-rounded"></div>
                                    </td>
                                    <td data-label="Name" class="">
                                        Aman Sonkar
                                    </td>
                                    <td data-label="Mobile No." class="">
                                        9129932523
                                    </td>
                                    <td data-label="Email Id" class="">
                                        amansonkr@gmail.com
                                    </td>
                                    <td data-label="Created" class=""><small title="Sep 19, 2018"
                                            class="has-text-grey is-abbr-like">Sep 19, 2018</small></td>
                                    <td class="is-actions-cell">
                                        <div class="buttons is-right"><a href="{% url 'user_profile' 'user' %}"
                                                class="button is-small is-primary"><span class="icon is-small"><i
                                                        class="mdi mdi-account-edit"></i></span></a><button
                                                type="button" class="button is-small is-danger"><span
                                                    class="icon is-small"><i
                                                        class="mdi mdi-trash-can"></i></span></button></div>
                                    </td>
                                    <!---->
                                </tr>
                                <!---->
                                <!---->
                            </tbody>
                            <!---->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</section>

<!----------------------------------------->

{% endblock %}