<section class="section">
    <div class="container">
        <div id="invoice" class="invoice borderedinvoice">
            <div class="columns" style="border-top:thin solid black;">
                <div class="column has-text-centered">
                    <h6 class="title is-6">Golden Empire Apartments Condominium</h6>
                    <h6 class="subtitle is-6">Ashok Nagar Road, Urva Store, Mangalore, 575006</h6>
                </div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column has-text-centered">
                    <h6 class="is-6">Receipts and Payments Account for the month of November 2019</h6>
                </div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <!-- <div class="columns">
                <div class="column is-4">
                    <address>
                        <p><strong>Invoice to:</strong></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </address>
                </div>
                <div class="column is-3 is-offset-5">
                    <p><strong>Invoice:</strong> </p>
                    <p><strong>Amount Due:</strong> 0</p>
                </div>
            </div> -->
            <div class="columns">
                <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-left">Receipts</th>
                                <th class="has-text-left">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="has-text-left" style="text-decoration: underline;">Opening Balance</td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Cash in Hand
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Saving Bank
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="has-text-left is-uppercase has-text-weight-bold">
                                    Total
                                </td>
                                <td class="has-text-left">
                                    0
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-left">Payments</th>
                                <th class="has-text-left">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="has-text-left" style="text-decoration: underline;">Closing Balance</td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Cash in Hand
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Saving Bank
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="has-text-left is-uppercase has-text-weight-bold">
                                    Total
                                </td>
                                <td class="has-text-left">
                                    0
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered">
                    <h6 class="is-6">Income and Expenditure Account for the month of November 2019</h6>
                </div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <!-- <div class="columns">
                <div class="column is-4">
                    <address>
                        <p><strong>Invoice to:</strong></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </address>
                </div>
                <div class="column is-3 is-offset-5">
                    <p><strong>Invoice:</strong> </p>
                    <p><strong>Amount Due:</strong> 0</p>
                </div>
            </div> -->
            <div class="columns">
                <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-left">Receipts</th>
                                <th class="has-text-left">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="has-text-left">
                                    Staff Salary
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Security Charges
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Electricity Charges
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Water Charges
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Repairs
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Housekeeping Expenses
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Food and Refereshments
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Miscelleneous Expenses
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="has-text-left is-uppercase has-text-weight-bold">
                                    Total
                                </td>
                                <td class="has-text-left">
                                    0
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-left">Payments</th>
                                <th class="has-text-left">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="has-text-left">
                                    Staff Salary
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Security Charges
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Electricity Charges
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Water Charges
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Repairs
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Housekeeping Expenses
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Food and Refereshments
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-left">
                                    Miscelleneous Expenses
                                </td>
                                <td class="has-text-left">
                                    29796.00
                                </td>
                                <td class="has-text-left">

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="has-text-left is-uppercase has-text-weight-bold">
                                    Total
                                </td>
                                <td class="has-text-left">
                                    0
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- <div class="columns">
                <div class="column">
                    <article class="message is-primary">
                        <div class="message-header">
                            <p>Payment details</p>
                        </div>
                        <div class="message-body">
                            <p>Account Name: <strong></strong></p>
                            <p>Sort code: <strong></strong></p>
                            <p>Account number: <strong></strong></p>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-body">
                            <h3 class="title is-5">Thankyou for your prompt payment</h3>
                            <p></p>
                        </div>
                    </article>
                </div> -->
            </div>
        </div> 
        <button class="button is-info is-medium" style="margin-top: 24px;">Download Invoice</button>
    </div>
</section>