<section class="section">
    <div class="container">
        <div id="invoice" class="invoice borderedinvoice">
            <div class="columns" style="border-top:thin solid black;">
                <div class="column has-text-centered">
                    <h6 class="title is-6">Monthly Maintenance Charge Received Statement for the Financial Year 2019-2020</h6>
                    <!-- <h6 class="subtitle is-6">Ashok Nagar Road, Urva Store, Mangalore, 575006</h6> -->
                </div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            
            <div class="columns">
                <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-left">Sr. No.</th>
                                <th class="has-text-left">Flat No.</th>
                                <th class="has-text-left">Flat Owner Name</th>
                                <th class="has-text-left">Apr-19</th>
                                <th class="has-text-left">May-19</th>
                                <th class="has-text-left">Jun-19</th>
                                <th class="has-text-left">Jul-19</th>
                                <th class="has-text-left">Aug-19</th>
                                <th class="has-text-left">Sept-19</th>
                                <th class="has-text-left">Oct-19</th>
                                <th class="has-text-left">Nov-19</th>
                                <th class="has-text-left">Dec-19</th>
                                <th class="has-text-left">Jan-19</th>
                                <th class="has-text-left">Feb-19</th>
                                <th class="has-text-left">Mar-19</th>
                                <th class="has-text-left">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="has-text-left">
                                    1
                                </td>
                                <td class="has-text-left">
                                    1-N-12-799/29
                                </td>
                                <td class="has-text-left">
                                    Aman Sonkar
                                </td>
                                <td class="has-text-left">
                                    
                                </td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                                <td class="has-text-left"></td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="has-text-left is-uppercase has-text-weight-bold">
                                    Grand Total
                                </td>
                                <td class="has-text-left">
                                    0
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>