{% extends 'dashboard.html' %}
{% block section %}
    <section class="section">
        <div class="is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">
                            Profile
                        </h1>
                    </div>
                </div>
                <div class="level-right">
                    <!-- <div class="level-item"><a href="#/" class="button is-primary router-link-active"></a></div> -->
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div data-v-ac2ee6e4="" class="card tile is-child">
                    <header data-v-ac2ee6e4="" class="card-header">
                        <p data-v-ac2ee6e4="" class="card-header-title"><span data-v-ac2ee6e4="" class="icon"><i
                                    class="mdi mdi-account-circle default"></i></span>
                            Edit Profile
                        </p>
                        <!---->
                    </header>
                    <div data-v-ac2ee6e4="" class="card-content">
                        <form data-v-ac2ee6e4="">
                            <div class="field is-horizontal" data-v-ac2ee6e4="">
                                <div class="field-label is-normal"><label class="label">Avatar</label></div>
                                <div class="field-body">
                                    <div class="field">
                                        <!---->
                                        <div class="field file">
                                            <!----> <label class="upload control"><a class="button is-primary"><span
                                                        class="icon"><i class="mdi mdi-upload default"></i></span><span>Pick
                                                        a file</span></a> <input type="file"></label>
                                            <!---->
                                            <!---->
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <hr data-v-ac2ee6e4="">
                            <div class="field is-horizontal" data-v-ac2ee6e4="">
                                <div class="field-label is-normal"><label class="label">Name</label></div>
                                <div class="field-body">
                                    <div class="field">
                                        <!---->
                                        <div class="control"><input type="text" autocomplete="on" name="name"
                                                required="required" class="input">
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                        <p class="help">Required. Your name</p>
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="field is-horizontal" data-v-ac2ee6e4="">
                                <div class="field-label is-normal"><label class="label">E-mail</label></div>
                                <div class="field-body">
                                    <div class="field">
                                        <!---->
                                        <div class="control"><input type="email" autocomplete="on" name="email"
                                                required="required" class="input">
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                        <p class="help">Required. Your e-mail</p>
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <hr data-v-ac2ee6e4="">
                            <div class="field is-horizontal" data-v-ac2ee6e4="">
                                <div class="field-label is-normal">
                                    <!---->
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <!---->
                                        <div class="control"><button type="submit" class="button is-primary">
                                                Submit
                                            </button></div>
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div data-v-ac2ee6e4="" class="card tile is-child">
                    <header data-v-ac2ee6e4="" class="card-header">
                        <p data-v-ac2ee6e4="" class="card-header-title"><span data-v-ac2ee6e4="" class="icon"><i
                                    class="mdi mdi-account default"></i></span>
                            Profile
                        </p>
                        <!---->
                    </header>
                    <div data-v-ac2ee6e4="" class="card-content">
                        <div data-v-ac2ee6e4="" class="image is-user-avatar has-max-width is-aligned-center"><img
                                data-v-ac2ee6e4="" src="/data-sources/avatars/annie-spratt-121576-unsplash.jpg"
                                alt="John Doe"></div>
                        <hr data-v-ac2ee6e4="">
                        <div class="field" data-v-ac2ee6e4=""><label class="label">Name</label>
                            <div class="control is-clearfix"><input type="text" autocomplete="on" readonly="readonly"
                                    class="input is-static">
                                <!---->
                                <!---->
                                <!---->
                            </div>
                            <!---->
                        </div>
                        <hr data-v-ac2ee6e4="">
                        <div class="field" data-v-ac2ee6e4=""><label class="label">E-mail</label>
                            <div class="control is-clearfix"><input type="text" autocomplete="on" readonly="readonly"
                                    class="input is-static">
                                <!---->
                                <!---->
                                <!---->
                            </div>
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}