{% extends 'dashboard.html' %}
{% block section %}
<section class="section is-main-section">
    <!---->
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title"><span class="icon"><i
                                class="mdi mdi-account-edit default"></i></span><span>New Client</span></p>
                    <!---->
                </header>
                <div class="card-content">
                    <form>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">ID PROOF</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="field file">
                                        <!----> <label class="upload control"><a class="button is-primary"><span
                                                    class="icon"><i class="mdi mdi-upload default"></i></span><span>Pick
                                                    a file</span></a> <input type="file"></label>
                                        <!---->
                                        <!---->
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Photo</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="field file">
                                        <!----> <label class="upload control"><a class="button is-primary"><span
                                                    class="icon"><i class="mdi mdi-upload default"></i></span><span>Pick
                                                    a file</span></a> <input type="file"></label>
                                        <!---->
                                        <!---->
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Name</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Tenant name" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant name</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Father Name</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Tenant's Father name" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant's Father name</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Mother Name</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Tenant's Mother name" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant's Mother name</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Occupation</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Occupation" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant's occupation</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">City</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Address" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant's address</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Mobile Number</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Mobile Number" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant's Mobile Number</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Email Id</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Email Id" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Tenant's Email Id</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <hr>
                        <div class="field is-horizontal" style="padding-left:50% ;">
                            <div class="field has-text-centered"><label class="label">Vehicle's Info</label></div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Type</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Vehicle Type" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Vehicle Type</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label">Registration Number</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <!---->
                                    <div class="control"><input type="text" autocomplete="on"
                                            placeholder="Vehicle Registration Number" required="required" class="input">
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                    <!-- <p class="help">Vehicle's Registration Number</p> -->
                                </div>
                            </div>
                            <!---->
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <!---->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <!----> <button type="submit" class="button is-primary">
                                        <!----> <span>Submit</span>
                                        <!----></button>
                                    <!---->
                                </div>
                            </div>
                            <!---->
                        </div>
                    </form>
                </div>
                <!---->
            </div>
        </div>
        <!-- <div class="tile is-parent"></div> -->
    </div>
</section>
{% endblock %}