{% extends 'index.html' %}

{% block body %}
<section class="hero section is-block is-relative is-white is-large">
    <div class="container">
        <header class="is-centered">
            <h1 class="title is-spaced has-text-weight-bold is-3">Register</h1>
            <p>You can Register here!</p>
        </header>
        <div>
            <form method="POST" >
                {% csrf_token %}
                {{ form.as_p }}
                <!--div class="field">
                    <div class="control">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div-->
                <div class="field">
                    <p class="control">
                        <button class="button is-primary is-medium is-normal is-fullwidth" type="submit">Register</button>
                    </p>
                </div>
            </form>
            <p>Already have a account?<a href="../login">Login</a></p>
        </div>
    </div>
</section>
{% endblock %}