{% extends 'index.html' %}

{% block hero-body %}
    <div class="box container section has-text-centered" style="max-width:363px;background-color:lightgoldenrodyellow">
        <header class="is-centered">
            <h1 class="title is-spaced has-text-weight-bold is-3">Welcome</h1>
            <p>Setup Username and password here!</p>
            <br>
        </header>
        <div>
            {% if form.errors %}
            <p>Please try again.</p>
            {% endif %}
            <form id='registerForm' method="POST" >
                {% csrf_token %}
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input id="id_username" class="input" type="username" name="username" placeholder="Username" required autofocus>
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input id="id_password1" class="input" type="password" name="password1" placeholder="Password" required>
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input id="id_password2" class="input" type="password" name="password2" placeholder="Confirm Password" required>
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-medium is-normal is-fullwidth" type="submit">REGISTER</button>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(e) {
            const form = document.getElementById('registerForm');
            const f = FormValidation.formValidation(
                form,
                {
                    fields: {
                        username: {
                            validators: {
                                notEmpty: {
                                    message: 'Username is required'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: 'Password is required'
                                }
                            }
                        },
                        password2:{
                            validators: {
                                identical: {
                                    compare: function() {
                                        return form.querySelector('[name="password1"]').value;
                                    },
                                    message: 'The password and its confirm are not the same'
                                }
                            }
                        }
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bulma: new FormValidation.plugins.Bulma(),
                        icon: new FormValidation.plugins.Icon({
                            valid: 'fas fa-check',
                            invalid: 'fa fa-times',
                            validating: 'fas fa-sync'
                        }),
                    },
                }
            );
            form.querySelector('[name="password1"]').addEventListener('input', function() {
                f.revalidateField('Password2');
            });
        });
        </script>
{% endblock %}